*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    font-family:cursive;    
    background-color: rgb(239, 245, 173);
}
.container{
    width: 500px;
    position: absolute;    
    /* border-radius: 4px; */
    /* border: 1px solid rgb(88, 5, 5); */
    

}.img{
    position: relative;
    top: 0;
    width: 100%;
    z-index: -1;
}.texto_Josthyn{
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 50%;
    text-align: center;
    padding: 1mm;
    color: rgb(21, 2, 2);

}
.texto_Josthyn h2{
    color: rgb(255, 252, 240);
}
.cabezera{
    position: absolute;
    top: 0;
    color: rgb(255, 252, 240);
    width: 100%;
    text-align: center;
    background: linear-gradient(0deg, transparent 1%, rgba(0,0,0,0.8) 100%);
}

.semi-oculto{
    opacity: 0.3;
}